/***** CSS RESET *****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS VARIABLES */

:root {
	--black: #222222;
	--white: #F5F5F5;
	--brown: #A35C2F;
	--green: #264E36 ;
}

/********** GLOBAL STYLING **********/

body {
    background-color: var(--white);
    line-height: 1.25;
}

h1, h2, h3 {
	color: var(--black);
	font-family: "Playfair Display", serif;
	font-style: normal;
}

p, a, label, span, option, li, address, button, select {
	font-family: "Source Sans 3", serif;
	font-size: 16px;
    font-style: normal;
}

p, label, option, li, address {
	color: var(--black);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
	font-weight: 700;
}

h3 {
    font-size: 20px;
	font-weight: 500;
}

img {
	display: block;
    height: auto;
    max-width: 100%;
}

button {
	transition: transform 0.3s ease-in-out;
}

button:hover {
	transform: scale(1.1);
}

.hidden {
    display: none !important;
}

/* SKIP LINK */

#skip {
    position: absolute;
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    padding: 8px;
    background: black;
    color: white;
    text-decoration: none;
    transition: top 0.3s ease-in-out;
}


#skip:focus {
    top: 10px; 
    left: 10px;
    outline: 2px solid white;
    z-index: 1000;
}

/* MOBILE NAVIGATION */

header {
	width: 100%;
}

h1 {
	display: none;
}

#utilities ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#utilities ul:first-of-type {
	background-color: var(--brown);
}

#utilities ul:first-of-type li {
	margin: 20px 35px;
}

#utilities ul:first-of-type li a {
	color: var(--white);
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

#utilities ul:first-of-type li a:hover {
	color: var(--black);
	transition: 0.3s ease-in-out;
}

#utilities ul:nth-of-type(2) li {
	margin: 20px 25px;
}

#utilities ul:nth-of-type(2) li a img {
	transition: transform 0.3s ease-in-out;
}

#utilities ul:nth-of-type(2) li a:hover img {
	transform: scale(1.2)
}

#utilities span {
	display: none;
}

#logo {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#logo span {
	display: none;
}

/* HAMBURGER MENU */

#nav-label {
	background-color: var(--black);
	color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
	width: 240px;
}

#nav-label span {
	font-size: 32px;
}

#nav-dropdown {
    display: none;
}

#nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

#nav-links li {
	background-color: var(--white);
	border-bottom: 1px var(--black) solid;
	box-sizing: border-box;
	display: block;
	margin-top: 0;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}

#nav-links li:first-of-type {
	border-top: 1px var(--black) solid;
}

#nav-links a {
	color: var(--black);
	text-decoration: none;
}

#nav-links a:hover {
	color: var(--brown);
	transition: 0.3s ease-in-out;
}

#nav-dropdown:checked ~ #nav-links {
    max-height: 500px;
}

/* MOBILE FOOTER STYLES */

footer {
	background-color: var(--brown);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

/* QUICK LINKS STYLES */

#contact-info h2, 
#contact-info a span,
#socials ul span {
	display: none;
}

#quick-links,
#footer-utilities,
#socials,
#policies {
	display: flex;
	flex-direction: column;
}

#quick-links nav ul, 
#quick-links #footer-utilities ul,
#quick-links #socials ul,
#policies ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#quick-links nav li,
#quick-links #footer-utilities li,
#quick-links #socials li,
#policies li {
	margin: 10px;
	text-align: center;
}

#quick-links {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-row: 1;
}

#quick-links nav {
	margin: 15px 0;
}

#quick-links h2 {
	color: var(--white);
	margin: 10px 0;
	text-align: center;
}

#quick-links nav li {
	margin: 15px 10px;
}

#quick-links nav li a {
	color: var(--white);
	font-size: 16px;
	text-decoration: none;
}

#quick-links nav li a:hover {
	color: var(--black);
	transition: 0.3s ease-in-out;
}

#footer-utilities {
	grid-row: 4;
}

#footer-utilities ul li {
	padding: 10px 15px;
}

#footer-utilities li a {
	color: var(--white);
	font-size: 16px;
}

#footer-utilities li a:hover {
	color: var(--black);
	transition: 0.3s ease-in-out;
}

#socials {
	grid-row: 3;
}

#socials ul li {
	padding: 0 10px;
}

#socials ul li a img {
	transition: transform 0.3s ease-in-out;
}

#socials ul li a:hover img {
	transform: scale(1.2);
}

#policies li {
	padding: 5px;
}

#policies li a {
	color: var(--white);
	font-size: 10px;
	text-decoration: none;
}

#policies li a:hover {
	color: var(--black);
	transition: 0.3s ease-in-out;
}

/* EMAIL SIGNUP STYLES */

#email-signup {
	background-color: var(--green);
	border-radius: 15px;
	padding: 15px 10px;
	margin: 15px 0;
	grid-row: 2;
	justify-self: center;
	width: 80%;
}

#email-signup h2 {
	color: var(--white);
	padding: 10px;
}

#email-signup form {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#email-signup form label,
#email-signup form input {
	margin-bottom: 5px;
}

#email-signup form label {
	color: var(--white);
}

#email-signup form input {
	border: 1px var(--black) solid;
	border-radius: 10px;
	padding: 10px;
}

#email-signup form p,
#email-signup form a {
	color: var(--white);
	font-size: 12px;
}

#email-signup form p {
	margin: 5px 0;
}

#email-signup form button {
	border: 1px var(--black) solid;
	border-radius: 7px;
	font-size: 14px;
	margin-top: 5px;
	padding: 5px 10px;
	width: 100px;
}

/* CONTACT INFO STYLES */

#contact-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	grid-row: 3;
	padding: 20px 0;
}

#contact-info img {
	margin: 10px 0;
}

#contact-info a {
	color: var(--white);
	text-decoration: none;
}

#contact-info a,
#contact-info address,
#contact-info #business-hours {
	margin: 10px 0;
}

#contact-info address,
#contact-info h3,
#contact-info p {
	color: var(--white);
}

#business-hours h3 {
	margin-bottom: 10px;
}

#business-hours span {
	text-decoration: underline;
	font-weight: 700;
	margin-right: 10px;
}

/********** INDIVIDUAL PAGES MOBILE STYLES **********/

/***** HOME PAGE STYLES *****/

/* HERO BANNER STYLES */

#home-hero-banner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 100px;
}

#home-hero-banner img {
	grid-column: 1 / 3;
	grid-row: 1;
	padding-top: 50px;
}

#home-hero-banner div {
	grid-column: 1 / 3;
	grid-row: 1;
	margin: 10px;
	width: 275px;
}

#home-hero-banner div h2 {
	margin-bottom: 20px;
}

#home-hero-banner div a {
	background-color: var(--green);
	display: inline-block;
	color: var(--white);
	padding: 5px 10px;
	text-decoration: none;
	transition: transform 0.3s ease-in-out;
}

#home-hero-banner div a:hover {
	transform: scale(1.1);
}

/* MAIN EFFORTS CTA STYLES */

#efforts-cta {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 50px;
}

#efforts-cta h2 {
	margin-bottom: 5px;
}

#efforts-cta section {
	display: flex;
	flex-direction: column;
	margin: 25px auto;
	width: 200px;
}

#efforts-cta section img,
#efforts-cta section h3 {
	margin-bottom: 5px;
}

#efforts-cta section p {
	margin-bottom: 15px;
}

#efforts-cta section a {
	background-color: var(--green);
	color: var(--white);
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	transition: transform 0.3s ease-in-out;
	width: 100px;
}

#efforts-cta section a:hover {
	transform: scale(1.1);
}

/* MAIN EFFORTS ADDITIONAL INFO STYLES */

#efforts-additional-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 50px 0;
	width: 85%;
}

#efforts-additional-info h2 {
	margin: 30px 0;
}

#efforts-additional-info img {
	margin-bottom: 10px;
}

#efforts-additional-info div {
	margin-bottom: 40px;
}

#efforts-additional-info div section {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#efforts-additional-info div section h3 {
	margin-bottom: 5px;
}

#efforts-additional-info div section p {
	margin: 5px 0;
}

#efforts-additional-info div section a {
	background-color: var(--green);
	color: var(--white);
	display: inline-block;
	margin: 10px 0 25px 0;
	padding: 5px 10px;
	text-decoration: none;
	transition: transform 0.3s ease-in-out;
	width: 100px;
}

#efforts-additional-info div section a:hover {
	transform: scale(1.1);
}

/* IMPACT INFO STYLES */

#impact {
	margin: 10px auto;
	padding-bottom: 60px;
	text-align: center;
	width: 95%;
}

#impact div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	margin-top: 20px;
}

#impact div section {
	margin: 10px;
}

/* DONATION STYLES */

#donate {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 25px auto;
	padding-bottom: 50px;
	text-align: center;
}

#donate h2 {
	margin: 10px 0 30px 0;
}

#donate section {
	align-items: center;
	background-color: var(--brown);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 170px;
}

#donate section h3 {
	color: var(--white);
	margin-bottom: 30px;
}

#donate section button {
	background-color: var(--black);
	border: 1px var(--black) solid;
	border-radius: 20px;
	color: var(--white);
	font-weight: 500;
	margin-bottom: 20px;
	padding: 5px 40px;
}

/* PET SEARCH STYLES */

#pet-search {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	padding-bottom: 50px;
	text-align: center;
}

#pet-search h2 {
	margin: 10px 0 30px 0;
}

#pet-search form {
	background-color: var(--green);
	border-radius: 20px;
	padding: 20px;
}

#pet-search form div {
	display: flex;
	flex-direction: column;
}

#pet-search form div label {
	color: var(--white);
	margin-bottom: 5px;
}

#pet-search form div select {
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

#pet-search form button {
	background-color: var(--white);
	border: 1px var(--white) solid;
	border-radius: 20px;
	color: var(--black);
	margin-top: 20px;
	padding: 5px 25px;
}

/* SPECIAL OFFERS STYLES */

#special-offers {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
}

#special-offers h2 {
	margin: 30px 0 25px 0;
}

#offers-grid {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	max-width: 500px;
}

.offers-content {
	margin-bottom: 50px;
}

.offers-content h3 {
	margin-bottom: 10px;
}

.offers-content p {
	margin: 10px 0 15px;
}

.offers-content a {
	background-color: var(--green);
	color: var(--white);
	display: inline-block;
	padding: 5px 20px;
	text-decoration: none;
	transition: transform 0.3s ease-in-out;
}

.offers-content a:hover {
	transform: scale(1.1);
}

/***** ADOPTION INFO STYLES *****/

/* HERO BANNER STYLES */

#adoptinfo-herobanner {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 100px;
}

#adoptinfo-herobanner img {
	margin-top: 200px;
	grid-column: 1;
	grid-row: 1;
}

#adoptinfo-herobanner section {
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-column: 1;
	grid-row: 1;
	margin: 0 auto;
	text-align: center;
	width: 95%;
}

#adoptinfo-herobanner section h2,
#adoptinfo-herobanner section p {
	margin-bottom: 15px;
}

#adoptinfo-herobanner section a {
	background-color: var(--green);
	color: var(--white);
	display: inline-block;
	padding: 5px 20px;
	text-decoration: none;
	transition: transform 0.3s ease-in-out;
}

#adoptinfo-herobanner section a:hover {
	transform: scale(1.1);
}

/* ADOPTION INFO STYLES */

#adoption-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
}

#adoption-info h2 {
	margin: 30px 0 20px 0;
}

#adoption-info p {
	margin: 10px 0;
}

/* IMPORTANT ADOPT INFO STYLES */

#important-adopt-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
}

#important-adopt-info h2 {
	margin: 30px 0 20px 0;
	text-align: center;
}

#important-adopt-info p,
#important-adopt-info ul li {
	margin: 10px 0;
}

#important-adopt-info ul {
	list-style: disc;
	margin-left: 45px;
}

#important-adopt-info ul li {
	line-height: 1.5;
}

/* ADOPTION FEES STYLES */

#adoption-fees {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
}

#adoption-fees h2 {
	margin: 30px 0 20px 0;
}

#adoption-fees p {
	margin: 10px 0;
}

#adoption-fees div {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#adoption-fees section {
	border: 1px var(--black) solid;
	margin-bottom: 15px;
	padding: 25px 50px;
	width: 65%;
}

#adoption-fees section h3 {
	margin-bottom: 15px;
	text-align: center;
}

#adoption-fees section ul {
	list-style: disc;
	margin-bottom: 20px;
}

#adoption-fees section ul li {
	margin-bottom: 5px;
}

#adoption-fees section:nth-of-type(2) p {
	font-size: 12px;
}

/* ADOPTION FAQS STYLES */

#adoption-faqs {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto 50px auto;
	width: 85%;
}

#adoption-faqs h2 {
	margin: 30px 0 20px 0;
}

#adoption-faqs ul {
	list-style: none;
}

#adoption-faqs ul li {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px var(--black) solid;
}

#adoption-faqs ul li::before {
	content: "▶"; 
    color: var(--black);
	margin-right: 15px;
}

/***** ADOPTION INFO STYLES *****/

/* FILTER STYLES */

#pet-finder-heading {
	margin: 120px 0 30px 0;
	text-align: center;
}

.filter-section {
	background-color: var(--green);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px auto 60px;
	padding: 30px 15px;
}

.filter-section h2,
.filter-section div label {
	color: var(--white);
}

.filter-section h2 {
	grid-column: 1 / 3;
	grid-row: 1;
	margin-bottom: 10px;
}

.filter-section div {
	display: flex;
	flex-direction: column;
	grid-row: 2;
	margin: 10px 5px;
}

.filter-section div label {
	margin-bottom: 1px;
}

.filter-section div select {
	padding: 2px;
}

.filter-section button {
	border: 1px var(--white) solid;
	border-radius: 10px;
	grid-column: 1 / 3;
	grid-row: 3;
	margin: 15px 0 0 5px;
	padding: 5px;
	width: 150px;
}

/* PET LIST STYLES */

#pet-list {
	margin: 0 auto;
	width: 85%;
}

#pet-list h2 {
	display: none;
}

.pet-card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 60px;
}

.pet-card div {
	margin-left: 15px;
}

.pet-card div h3 {
	font-weight: 600;
	margin-bottom: 5px;
}

.pet-card div ul {
	margin: 5px 0 15px 20px;
}

.pet-card div ul li {
	list-style: disc;
	margin: 0 0 7px;
}

.pet-card div ul li strong {
	font-size: 18px;
	font-weight: 900;
}

.pet-card div a {
	background-color: var(--green);
	color: var(--white);
	padding: 5px 10px;
	text-decoration: none;
}

.details-btn {
    display: inline-block; 
    transition: transform 0.3s ease-in-out; 
}

.details-btn:hover {
    transform: scale(1.1); 
}

/********** TABLET STYLES **********/

@media screen and (min-width:768px) {

	/* TABLET GENERAL STYLES */

	h2 {
		font-size: 30px;
	}
	
	h3 {
		font-size: 24px;
	}

	p, a, label, span, option, li, address, button, select {
		font-size: 18px;
	}
	
	/* TABLET NAV STYLES */

	#utilities {
		background-color: var(--brown);
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#utilities ul:first-of-type {
		place-self: center start;
	}


	#utilities ul:first-of-type li {
		margin: 10px 15px;
	}

	#utilities ul:first-of-type li a {
		font-size: 18px;
	}

	#utilities ul:first-of-type li:first-of-type {
		margin-left: 30px;
	}

	#utilities ul:nth-of-type(2) {
		margin-top: 20px;
		place-self: center end;
	}

	#utilities ul:nth-of-type(2) li {
		margin: 10px;
	}

	#utilities ul:nth-of-type(2) li:nth-of-type(4) a {
		margin-right: 50px;
	}

	#logo {
		margin: 20px;
	}

	#nav-label {
        display: none;
    }

    #nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        max-height: none;
    }

	#nav-links li {
		border-bottom: none;
	}

	#nav-links li:first-of-type {
		border-top: none;
	}

	/* TABLET FOOTER STYLES */

	footer {
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#quick-links {
		grid-column: 1 / 4;
		grid-row: 1;
		padding-top: 20px;
	}

	#email-signup {
		grid-column: 1 / 3;
		grid-row: 2;
		margin-top: 50px;
		height: 300px;
	}

	#contact-info {
		grid-column: 3;
		grid-row: 2;
	}

	#contact-info h3 {
		font-size: 20px;
	}

	#contact-info address,
	#business-hours p,
	#business-hours span {
		font-size: 16px;
	}

	/***** HOME PAGE TABLET STYLES *****/

	/* HERO BANNER TABLET STYLES */

	#home-hero-banner {
		margin-top: 25px;
	}

	#home-hero-banner div {
		grid-column: 1 / 3;
		margin: 50px;
		width: 50%
	}

	#home-hero-banner div h2 {
		margin-bottom: 50px;
	}

	/* EFFORTS TABLET STYLES */

	#efforts-cta {
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: 1fr 1fr;
	}

	#efforts-cta h2 {
		place-self: center;
		grid-column: 1 / 3;
		grid-row: 1;
		margin-bottom: 20px;
	}

	#efforts-cta section a {
		width: 125px;
	}

	/* ADDITIONAL INFO TABLET STYLES */

	#efforts-additional-info div {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	

	.text-left-align img {
		grid-column: 2;
	}

	#efforts-additional-info div section {
		align-items: start;
		text-align: left;
	}

	.text-left-align section {
		grid-column: 1;
		grid-row: 1;
	}

	/* IMPACT TABLET STYLES */

	#impact div section {
		margin-bottom: 50px;
	}

	#impact div section h3 {
		font-size: 28px;
		margin-bottom: 10px;
	}

	/* DONATION TABLET STYLES */

	#donate section {
		display: flex;
		flex-direction: row;
		width: 85%;
	}

	#donate section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 20px 15px;
	}

	#donate section h3 {
		grid-column: 1 / 2;
		grid-row: 1;
		margin: 0 150px 0 0;
		width: 100%;
	}

	#donate section div {
		grid-column: 2 / 4;
		grid-row: 1;
		justify-self: end;
	}

	#donate section button {
		margin: 0 5px 0;
		padding: 10px 15px;
	}

	/* PET SEARCH TABLET STYLES */

	#pet-search form {
		align-items: center;
		align-content: center;
		justify-content: center;
		display: flex;
		flex-direction: row;
		padding: 30px 15px;
	}

	#pet-search form div {
		align-items: center;
		display: flex;
		flex-direction: row;
	}

	#pet-search form div label,
	#pet-search form div select,
	#pet-search form button {
		margin: 0;
	}

	#pet-search form div label,
	#pet-search form div select {
		margin-right: 5px;
	}

	#pet-search form button {
		margin-left: 20px;
	}

	/* SPECIAL OFFERS TABLET STYLES */

	#offers-grid  {
		display: grid;
		grid-template-columns: 1fr;
	}

	.offers-content p {
		max-width: 450px;
	}

	.offers-content a  {
		padding: 5px 50px;
	}

	/*****ADOPTION INFO TABLET STYLES *****/

	#adoptinfo-herobanner {
		place-items: center;
		gap: 30px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 35px;
	}

	#adoptinfo-herobanner img {
		grid-column: 2;
		grid-row: 1;
		margin: 0 0 0 20px;
	}

	#adoptinfo-herobanner section {
		align-items: flex-start;
		margin-left: 30px;
		text-align: left;
	}

	#adoptinfo-herobanner section a {
		margin-top: 30px;
	}

	#adoption-info,
	#important-adopt-info,
	#adoption-fees,
	#adoption-faqs {
		margin-top: 40px;
		width: 70%;
	}

	/***** ADOPTABLE PETS TABLET STYLES *****/

	/* PET FILTER TABLET STYLES */

	.filter-section {
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: repeat(4, 1fr);
		margin: 0 20px 100px;
	}

	#pet-finder-heading {
		margin: 75px 0 50px 0; 
	}

	.filter-section button {
		grid-column: 4;
		grid-row: 2;
		margin-top: 25px;
		place-self: center;
	}

	/* PET LIST TABLET STYLES */

	#pet-list {
		display: grid;
		gap: 10px;
		grid-auto-rows: auto;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		width: 90%;
	}
}

/********** DESKTOP STYLES **********/

@media screen and (min-width:1280px) {

	/* DESKTOP GENERAL STYLES */

	main {
		margin: 0 auto;
		max-width: 1440px;
	}

	h2 {
		font-size: 38px;
	}

	h3 {
		font-size: 32px;
	}

	p, a {
		font-size: 20px;
	}

	/* DESKTOP NAV STYLES */

	#utilities {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#utilities ul:first-of-type {
		grid-column: 2;
		place-self: center;
	}

	#utilities ul:first-of-type li {
		margin: auto 30px;
	}

	#navbar {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#navbar div {
		grid-column: 1;
	}

	#logo {
		margin-left: 40px;
		place-self: center start;
	}

	#navbar #nav-links {
		grid-column: 2 / 4;
	}

	/* DESKTOP FOOTER STYLES */

	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#contact-info {
		grid-column: 1;
		grid-row: 1;
		margin: 10px;
	}

	#quick-links {
		grid-column: 2 / 4;
		grid-row: 1;
	}

	#quick-links nav li {
		margin: 0 20px;
	}

	#policies ul li a {
		font-size: 14px;
	}

	#email-signup {
		grid-column: 4;
		grid-row: 1;
		padding-bottom: 40px;
	}

	/***** HOMEPAGE DESKTOP STYLES *****/

	/* HERO BANNER DESKTOP STYLES */

	#home-hero-banner div {
		margin: 100px;
	}

	#home-hero-banner h2 {
		font-size: 42px;
		width: 460px;
	}

	/* EFFORTS DESKTOP STYLES */

	#efforts-cta {
		align-content: start;
		grid-template-columns: repeat(4, 1fr);
		margin: 0 auto;
		width: 75%;
	}

	#efforts-cta h2 {
		grid-column: 2 / 4;
		grid-row: 1;
		margin: 100px 0 50px 0;
	}

	#efforts-cta section {
		grid-row: 2;
		margin: 0 10px;
		place-self: center;
		width: 75%;
	}

	/* ADDITIONAL INFO DESKTOP STYLES */

	#efforts-additional-info {
		margin: 0 auto;
		width: 100%;
	}

	#efforts-additional-info h2 {
		margin: 150px 0 75px 0;
	}

	#efforts-additional-info div {
		gap: 0;
		margin: 0;
	}

	#efforts-additional-info section {
		margin-left: 50px;
		width: 75%;
	}

	#efforts-additional-info section h3 {
		font-size: 32px;
	}

	#efforts-additional-info div img {
		margin: 0;
	}

	#efforts-additional-info div section a {
		font-size: 20px;
		margin-top: 50px;
	}

	/* IMPACT DESKTOP STYLES */

	#impact {
		width: 80%;
	}

	#impact h2 {
		margin: 150px 0 75px 0;
	}

	#impact div {
		grid-template-columns: repeat(4, 1fr);
	}

	#impact div section {
		margin: 10px;
	}

	#impact div section h3 {
		font-size: 30px;
	}

	#impact div section p {
		font-size: 20px;
	}

	/* DONATE DESKTOP STYLES */

	#donate {
		margin: 75px auto;
		width: 75%;
	}

	/* PET SEARCH DESKTOP STYLES */

	#pet-search {
		margin: 75px auto;
	}

	#pet-search form div label,
	#pet-search select {
		font-size: 20px;
	}

	#pet-search form div label {
		margin-left: 20px;
	}

	#pet-search form div select {
		margin-right: 20px;
	}

	/* SPECIAL OFFERS DESKTOP STYLES */

	#special-offers {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 150px auto;
		justify-items: center;
		width: 75%;
	}

	#special-offers h2 {
		grid-column: 1 / 3;
		grid-row: 1;
		text-align: center;
	}

	.offers-content {
		width: auto;
	}

	#offers-grid section:nth-of-type(2) {
		grid-column: 2;
		grid-row: 1;
	}

	/***** ADOPTION INFO DESKTOP STYLES *****/

	/* HERO BANNER DESKTOP STYLES */

	#adoptinfo-herobanner section {
		margin-left: 75px;
		width: 60%;
	}

	/* ADOPTION INFO GENERAL DESKTOP STYLES */

	#adoption-info,
	#important-adopt-info,
	#adoption-fees,
	#adoption-faqs {
		margin-top: 60px;
		width: 60%;
	}

	#adoption-fees p:first-of-type {
		align-self: flex-start;
	}

	#adoption-fees div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		margin-top: 50px;
	}

	#adoption-fees div section {
		height: 150px;
	}

	#adoption-faqs {
		margin-bottom: 160px;
	}

	/***** PETS LIST DESKTOP STYLES *****/

	.filter-section {
		margin: 30px auto 125px;
		width: 75%;
	}

	#pet-list {
		margin: 0 auto;
		width: 75%;
	}

	#pet-list .pet-card {
		margin-left: 50px;
	}
}